h1{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
}
.section2-heading{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 45px;
    text-align: center;
}
h3{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 25px;
}
p{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 17px;
    padding-bottom: 20px;
}
.purple-color{
    color: #662C91;
}
.section1{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5% 5% 1% 10%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: #662C91;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 400;
}
#border{
    border-left: 4px solid;
    border-radius: 10px;
    border-image: linear-gradient(#800080, #b8632a) 50;
    border-image-slice: 1;
    padding-left: 15px;
}
.section-1-last-paragraph{
    padding-top: 20px;
}
.section2-heading{
    text-align: center;
    font-weight: 700;
}
.section2 img{
    width: 40%;
}
.section2{
    display: flex;
    padding: 0% 10% 0% 9%;
}
.section2-div-width{
    width: 30%;
    padding: 25px;
    border-radius: 25px;
    margin: 20px;
}
.section2-div1{
    background-color: #d0e3eb;
}
.section2-div2{
    background-color: #fae7db;
}
.section2-div3{
    background-color: #fcfcda;
}
.section3{
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;
    display: flex;
    padding: 10% 10%;
    margin-left: 10px;
}
.section3-heading{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 45px;
    font-weight: 700;
}
.section3-div{
    width: 50%;
}
.section3-div2{
    padding-right: 3%;
}
.section3 img{
    width: 70%;
}
.section3-div3{
    margin-left: -50px;
}
.section4{
    display: flex;
    padding-left: 10%;
    padding-bottom: 7%;
    margin-right: 30px;
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 18%;
}
.section4 img{
    width: 70%;
}
.section4-div{
    margin: 15px;
}
.section4-div1{
    padding-right: 10%;
}
footer{
    color: white;
    text-align: center;
    font-size: 25px;
    height: 100px;
    width: 100%;
    background-color: black;
}
.f-heading{
    font-style: italic;
}
.f-color{
    color: purple;
}
.f-pa{
    color: white;
    font-size: 10px;
}
.section4-div1 img{
    width: 30%;
    padding-top: 5%;
    padding-left: 10%;
}